[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-functions = "*"
opencensus-ext-azure = "*"
azure-mgmt-resourcegraph = "*"
azure-mgmt-containerservice = "*"
azure-mgmt-subscription = "*"
semver = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
